<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"> -->
    <link href="/web/home-html/static/css/styles.css" rel="stylesheet">
</head>


<body>
    <div className="title-cont">
        <div className="sub-title-cont">
            <h1 className="title-text">Easy Background Generator with Generate-Bang</h1>
            <p className="para-text">Generate image backgrounds with ease. Upload, edit, and create
                stunning images in seconds. Try it now!</p>
            
        </div>


        <!-- {% block content %}{% endblock %} -->
    </div>
</body>

</html>