@font-face {
    font-family: 'Wix Madefor Text';
    src: url('fonts/WixMadeforText-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('fonts/WixMadeforText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('fonts/WixMadeforText-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('fonts/WixMadeforText-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('fonts/WixMadeforText-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('fonts/WixMadeforText-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('fonts/WixMadeforText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('fonts/WixMadeforText-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('fonts/WixMadeforText-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('fonts/WixMadeforText-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

.hero {
    height: 110vh;
}

body {
    height: 100%;
    font-family: 'Wix Madefor Text', sans-serif;
    color: #323232;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100vw;
}


#footer{
    margin:20px;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

.body-cont {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 100%;
}

.hero-cont {
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

.title-text {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 900;
}

.para-text {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    color: #545C5E;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.dropbox-container {
    width: 100%;
    height: 256px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0px 8px 24px #D3CAED;
    /* padding: 12px; */
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.dropbox-content {
    width: calc(100% - 20px);
    /*Subtract twice the padding value from the width*/
    height: calc(100% - 20px);
    /*btract twice the padding value from the height*/
    border-radius: 24px;
    border: 2px dashed #CFD1D2;
    display: flex;
    flex-direction: column;
    /* gap: 4px; */
    justify-content: center;
    align-items: center;
    margin: auto;

}

.dropbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 72px;
    /* or 207% */
    text-align: center;
    color: rgba(50, 50, 50, 0.5);
    margin-top: -20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    font-family: 'Wix Madefor Text', sans-serif;
    /* margin-top: 64px; */
}

#fileInput {
    visibility: hidden;
}

#fileInput2 {
    visibility: hidden;

    width: 100%;
    height: 100%;
}

.primary-button {
    font-family: 'Wix Madefor Text', sans-serif;
    left: calc(50% - 86px/2 + 0.79px);
    bottom: 50.73px;
    color: white;
    font-weight: 600;
    text-align: center;
    background: #522EB9;
    border-radius: 13.0303px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 9999px;
}


.primary-button2 {
    font-family: 'Wix Madefor Text', sans-serif;
    left: calc(50% - 86px/2 + 0.79px);
    bottom: 50.73px;
    color: white;
    font-weight: 600;
    text-align: center;
    background: #522EB9;
    border-radius: 13.0303px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 9999px;
    margin-top: 20px;

}

.copyright{
    height: 24px;
    background-color: #522EB9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navbar {
    background-color: white;
    box-shadow: 0px 8px 24px rgba(65, 73, 76, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    /* padding-top: 27px;
        padding-bottom: 27px; */
    padding-right: 24px;
    padding-left: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-family: 'Wix Madefor Text';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;

    color: rgba(50, 50, 50, 0.5);

}

/* .logo {
    display: flex;
    align-items: center;
} */

.scaling-implementation {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    


}

.scaling-title {
    font-family: 'Wix Madefor Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 77.5%;
    /* or 19px */

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #323232;
}

.section-subtitle {

    font-family: 'Wix Madefor Text';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-top: 8px;
    margin-left: 58px;
    margin-right: 58px;

    color: #9FA3A5;
}

.scaling-implement-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin-left: 58px;
    margin-right: 58px;
    gap: 20px;
}

.example img {
    border: 1px solid #D3CAED;
    box-shadow: -5px 5px 0px 1px rgba(82, 46, 185, 0.25);
    border-radius: 16px;
    overflow: hidden;
    margin: 8px;
    width: 100%;
}



.example-info {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 18px;
}

.example-title {
    text-align: center;

    font-family: 'Wix Madefor Text';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 77.5%;
    /* identical to box height, or 15px */
    color: #323232;
}

.example-content {
    font-family: 'Wix Madefor Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142.5%;
    /* or 23px */


    color: #717779;

}

.how-to {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: px; */
}

.section-title {
    font-family: 'Wix Madefor Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;


    color: #323232;
}

.carousel-container {
    width: auto;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease-in-out;

}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 10px;
    margin-top: 40px;
    overflow: scroll;
}

.card {
    width: 220px;
    min-height: 585px;
    display: relative;
    margin-left: 20px;
}

.card-header-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3xl;
    font-weight: bold;
    background-color: #7D62CB;
    color: white;
    border-radius: 9999px;
    width: 60px;
    height: 60px;

}

.card-index {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-body {
    width: 100%;
    height: auto;
    border: 2px solid #D3CAED;
    border-radius: 8px;
    overflow: hidden;

}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 20px;
}

.card-icon {
    width: 100%;
    height: 200px;
    background-color: #D3CAED;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.card-icon img {
    position: absolute;
    top: 25%;
    width: 75%;
    height: auto;
    object-fit: cover;
}

.card-title {
    font-size: lg;
    font-weight: bold;
    color: #7D62CB;
    text-align: center;
}

.card-content {
    font-size: sm;
    color: #A896DB;
}

/* 
footer{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 41px;
    padding-bottom: 41px;
    
}
.footer-container{
    display: flex;
    flex-direction: column;

} */
/* Example Footer Styling */
footer {
    background-color: #f2f2f2;
    padding-top: 41px;
    left: 0;
    right: 0;
    
}

.footer-cont{
    display: flex;
    flex-direction: column;
}
.footer-container {
    display: flex;    
    
}

.copywrite{
    display:absolute;
    height: 28px;
}

.footer-logo img {
    
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-sub-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 8px;
    
}
.footer-content {
    text-align: center;
    margin-top: 20px;
    /* Added margin to separate content from the footer */
}
.content-title{
    font-family: 'Wix Madefor Text';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: start;

color: #A896DB;

}
.content{
    font-family: 'Wix Madefor Text';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: start;
    color: #6443C0;
    display: flex;
    margin-top: 24px;
}
.footer-links {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #333;
}

.footer-description {
    color: #777;
    font-size: 14px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 12px;
    color: #999;
}

.another-content{
    display: flex;
    flex-direction: column;
}
@media (min-width: 711px) {
    .hamburger {
        display: none;
    }

}

@media (min-width: 600px) {

    nav {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media (max-width: 710px) {
    .navbar {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }


    .hamburger {
        display: block;
        cursor: pointer;

    }

    .hamburger::before,
    .hamburger::after {
        content: "";
        display: block;
        background-color: #333;
        height: 3px;
        width: 20px;
        transition: all 0.3s ease;
    }

    .hamburger::before {
        transform: translateY(-6px);
    }

    .hamburger::after {
        transform: translateY(3px);
    }

    #navbar-toggle:checked~.nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #navbar-toggle:checked~.hamburger::before {
        transform: translateY(0) rotate(45deg);
    }

    #navbar-toggle:checked~.hamburger::after {
        transform: translateY(0) rotate(-45deg);
    }





}